/* 카드 디자인 만들기 */

/*  의문1 : title 위에 margin은 margin=0으로 해도 안없어진다.
    의문2 : text부분을 하얗게 하고싶은데 저 라운드 모양으로 잘 만들어지지 않는다.
    (라운드 픽셀 맞춰서해도 윗모서리도 동그랗게 된다.)
    의문3 : 화살표 주변의 네모박스가 거슬린다.*/

    html, body {
        width:100%;
        height:100%;
        margin:0;
    }


    .container {
        widows:100%;
        height:100%;
        background-color: #e7e7e7;
        padding:4rem;
    }

    .card {
        width:300px;
        height:600px;

        border-radius: 10px;

        background-color: #F4F4F4;

        /* 박스 그림자 */
        box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
        transition:1.2s;

        /* margin:0 auto; */
        margin: 0 auto 0 auto;
        padding:5rem 10rem;

        padding:20px;
    }

    .card:hover {
        box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
    }

    .card .main {
        padding: 15px;

    }

    .card .text {
        background-color: #FFFFFF;
        text-align:center;
    }

    .button {
        color: #e7c9bf;
    }
    
    a:visited {
        color:  #e7c9bf;
    }


    img {
        width:100%;
        height:100%; 
        object-fit:contain;
    }


    #right {
        text-align: right;
    }

    #left {
        text-align: left;
    }

    #red {
        color: #d4281b;
        margin-top:-7%;
    }

    #gray {
        color: gray;
    }


